
  <template name="basicWizard">
  {{> wizard id="basic-wizard" steps=steps stepsTemplate="steps_semanticUI"
   buttonClasses="btn btn-primary" confirmButton="Submit"}}
</template>
 <template name="basicWizard2">
  <div class="container_fluid">
    <div class="Tagline">
       <h1><span class="Tagline">Decision</span></h1>
       </div>
    <div class="row">
    <div class="appy col-xs-12 col-sm-6 col-md-7">
<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Decision</h3>
  <div class="panel-body">
      <h4>Congratulations, You have been pre-qualified for finacing approval</h4> 
      
      
      <p>Your pre-qualification approval indicates that you have the credit worthiness for us secure finacing through one of our 
      partners. This allow us to stream expedite the process to getting you in the car you deserve.</p>
      
       <p>Call the dealership A.S.A.P as our Gerneral Manager is waiting to speak to you.</p>
            
            
          </div>
        
        </div>
        </div>
   
 <div class=" col-xs-12 col-sm-6 col-md-5">
        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Important!</h3>
  </div>
  <div class="panel-body">
         <p>
             Remember to bring these items with you to dealership</p>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> Proof of Residence via Utility Bill</li>
<li><i class="fa-li fa fa-check-square"></i> Your Drivers License</li>
<li><i class="fa-li fa fa-check-square"></i> Proof of Employment (pay stub or earnings statement)</li>
</ul>   

            
            
          </div>
        
        </div>
        </div>
         </div>
    </div>
    </div>
</template>