<template name="applause">
    <div class="container_fluid">
        <div class="Tagline">
            <h1><span class="Tagline"> Applause</span></h1>
        </div>
        <div class="row">
            <div class="reviews col-xs-12 col-sm-7 col-md-7 ">
                <h2>Customer's Testimonials and  Reviews</h2>
                <br>
                <ul class="media-list">
					 <li class="media">
                        <div class="media-left  media-middle">
                            <img class="media-object" src="neika.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"> Neika Bonds said…</h4>
                            <div class="well">
                                <i class="fa fa-quote-left"></i>Bought a 2014 Nissan Maxima. I absolutely love my ride. Keith Scott really helps you get in the car you want. Thanks Keith
                                <i class="fa fa-quote-left fa-rotate-180"></i> </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left  media-middle">
                            <img class="media-object" src="IsaacDamienVarnish.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Isaac Damien Varnish Jr said…</h4>
                            <div class="well">

                                <i class="fa fa-quote-left"></i> Great people that will give you excellent service go by and get put in a ride today
                                <i class="fa fa-quote-left fa-rotate-180"></i>
                            </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left  media-middle">
                            <img class="media-object" src="ShiquiorPinkberry.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Shiquior Pinkberry Thomas-Wallace said… </h4>
                            <div class="well">
                                <i class="fa fa-quote-left"></i> Great people. Been knowing the Scott brother's since I was little. They will get you whatever you want. I will advise anyone to go <strong class=" wholeName">Whole</strong><strong class="saleName">Sale</strong> Car Deals for a great deal with great people. Keep doing what you guys are doing. Be blessed.
                                <i class="fa fa-quote-left fa-rotate-180"></i>
                            </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left  media-middle">
                            <img class="media-object" src="BjDavis.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">B.j. Davis said...</h4>
                            <div class="well">
                                <i class="fa fa-quote-left"></i> If no one else helps, the Scott twins and family definitely will find a way!
                                <i class="fa fa-quote-left fa-rotate-180"></i> </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left  media-middle">
                            <img class="media-object" src="JCChavis.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">JC Chavis said… </h4>
                            <div class="well">
                                <i class="fa fa-quote-left"></i> They treat me right all the time! Always a pleasure doing business with them.
                                <i class="fa fa-quote-left fa-rotate-180"></i> </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left  media-middle">
                            <img class="media-object" src="KimShaw-Johnson.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"> Kim Shaw-Johnson said… </h4>
                            <div class="well">
                                <i class="fa fa-quote-left"></i> Kim Shaw-Johnson said… Great people to help you find what you want or need. Keep up the good work!
                                <i class="fa fa-quote-left fa-rotate-180"></i> </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left  media-middle">
                            <img class="media-object" src="JasonLJones.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"> Jason L. Jones said…</h4>
                            <div class="well">
                                <i class="fa fa-quote-left"></i> If you are looking for an superior preowned vehicle at a <strong class=" wholeName">Whole</strong><strong class="saleName">Sale</strong> price let the the Scott brother put you in the ride you want. I bought all my vehicles from them and always will.
                                <i class="fa fa-quote-left fa-rotate-180"></i> </div>
                        </div>
                    </li>
					
					
                </ul>





            </div>
            <div>
            </div>

            <div class="reviews side-right col-xs-12 col-sm-4 col-md-5 " >
                
               <div class="panel panel-default staff">
                    <div class="panel-body">
                <figure class="thumbnail">
                    <img class=" responsive " src="like.jpg" alt="facebook likes"  align="center">
                </figure>
                   </div>
                </div>
            </div>
        </div>
    </div>
</template>

