<template name="footer">
<footer class="fullWidth" id="footer">
<div class="wrapper row">

<div id="foot_nav" class="panelLeft col-xs-12 col-sm-2 col-md-2 ">
<div id="footer_nav_links">
<ul>
<li><a href="/">HOME</a></li>
	<li><a href="{{pathFor route='inventory'}}">INVENTORY</a></li>
	<li><a href="{{pathFor route='approval'}}">APPLY ONLINE</a></li>
	<li><a href="{{pathFor route='ourstory'}}">OUR STORY</a></li>
    <li><a href="{{pathFor route='trades'}}">TRADE-IN</a></li>
    <li><a href="{{pathFor route='applause'}}">APPLAUSE</a></li>
    
</ul>

<p>Developed by: <a href="#" target="_blank"> Appchinski </a></p>
</div></div>
<div class="loc col-xs-12 col-sm-6 col-md-6 ">
<div id="map">
		 <iframe  frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=447+Highway+52,+Moncks+Corner,+SC,+United+States&key=AIzaSyBmBuGORYJT3zmZEpjPe9r1uHN4sDO5Cgk&zoom=17"></iframe>
	</div>
   
    </div>
    <div class="cont_info col-xs-12 col-sm-3 col-md-3 ">
    <div id="contact_info">
<ul>
	<li><h3>CONTACT INFO</h3></li><br>
    
    <li><i class="fa fa-location-arrow fa-1.8x"></i> &nbsp;<strong>Wholesale Car Deals LLC</strong><br>
				447 Highway 52 North<br> Moncks Corner, South Carolina</li><br>
	<li><i class="fa fa-phone fa-1.8x"></i> &nbsp;<strong>Phone</strong>: 843-899-2250</li><br>
	<li><i class="fa fa-fax fa-1.8x"></i> &nbsp;<strong>Fax</strong>: 843-899-2252</li><br>
	<li><i class="fa fa-envelope fa-1.8x"></i> &nbsp;<strong>Email</strong>: <a href="mailto:wholesalecars9@gmail.com">wholesalecars9@gmail.com</a></li>


    </ul>

</div>
</div>
    


</div></footer>
</template>