<template name = "header">
<div id="logo" class="col-xs-12 col-sm-4 col-md-4"><a href="/">
<img src="logo.jpg" class=""></a></div>        



<div class="col-xs-12 col-sm-8 col-md-8 address">

<ul>

<li><h1 class="ph_head" >843-899-2250</h1></li>

<li><h2>447 Highway 52 North</h2>

<li><h2>Moncks Corner, SC</h2></li>

</li>

</ul>

</div>


<div id="nav" class=".hidden-xs">

<ul  class="nav nav-pills">
    <li><a href="/">HOME</a></li>
	<li><a href="{{pathFor route='inventory'}}">INVENTORY</a></li>
	<li><a href="{{pathFor route='approval'}}">APPLY ONLINE</a></li>
	<li><a href="{{pathFor route='ourstory'}}">OUR STORY</a></li>
    <li><a href="{{pathFor route='trades'}}">TRADE-IN</a></li>
    <li><a href="{{pathFor route='applause'}}">APPLAUSE</a></li>


</ul>



</div>

<div class="clear"></div>
</template>