<template name="ourStory">
    <div class="container_fluid">
        <div class="Tagline">
            <h1><span class="Tagline">OUR STORY</span></h1>
        </div>
        <div class=" row">
            <div class=" story col-xs-12 col-sm-7 col-md-7 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><strong class=" wholeName">WHOLE</strong><strong class="saleName">SALE</strong> Car Deals is owned and operated by Rasheed Nurudin. We have been servicing the greater Charleston South Carolina area for over 20 years.</p>
                        <p> We buy high quality vehicles of all makes and models at wholesale prices and then pass those savings on to our Customers. </p>
                        <h3>Our way of doing business will surprise You!</h3>
                        <p>While we are in business to make money our primary concern is Happy Customers who return to buy again and again.</p>
                        <p>Check out our Family of Satisfied Customers Applaud Us <a href="{{pathFor route='applause'}}">Here.</a>
                        </p>
                        <p>Be sure to check out our <a href="{{pathFor route='inventory'}}">Inventory</a> we have a wide selection of quaility cars for you to choose from.</p>
                        <h3>If you've been dreaming about a specific vehicle and dont find it our current inventory:</h3>
                        <p><strong class=" wholeName">WHOLE</strong><strong class="saleName">SALE</strong> Car Deals also works as a buying agent for individuals and businesses who are looking for a specific make, model and/or color.</P>
                        <p>Remember You can <a href="{{pathFor route='approval'}}">Apply Online</a> and receive a pre-qualification approval in just 60 Seconds!!</p>
                        <p>
                            <strong class=" wholeName">WHOLE</strong><strong class="saleName">SALE</strong> Car Deals has established relationships with a number of Lenders who are ready to finance you today.</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4  ">
                <div class="panel panel-default staff">
                    <div class="panel-body">
                <figure class="thumbnail">
                    <img class=" responsive " src="twins.jpg" alt="Rasheed and Keith"  align="center">
                </figure>
                <div class="caption">

                    <h3>Rasheed Nurudin</h3>

                    <p>Principle Owner</p>
                </div>
                <div class="caption">
                    <h3>Keith Scott</h3>
                    <p>General Manager</p>
                </div>




            </div>
                </div>
        </div>
        </div>
    </div>
</template>