<template name="quickLinks">
    <div class="clear"></div>
   <div class="wrapper">
   <div class="main">
      <div class="Tagline">
         <h1><span class="Tagline">Moving People One Car At A Time!</span></h1>
      </div>
      <div class="clear"></div>
      <div class="bot_main container-fluid">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a href="{{pathFor route='approval'}}">
               <div class="thumbnail">
                  
                     <img src="approval.png" alt="...">
                     <div class="caption">
                        <h3>Pre-Qualify Now!</h3>
                        <p>Apply online to get a financing pre-qualifiation approval in seconds and stream-line your loan application process</p>
                       
                       </div>
                </div></a></div>
               <div class="col-xs-12 col-sm-12 col-md-4">
                   <a href="{{pathFor route='applause'}}">
                  <div class="thumbnail">
                     
                        <img src="likes.png" alt="...">
                        <div class="caption">
                           <h3>Likes and Applause</h3>
                           <p>Our large family of customers appreciate our dedication to hassle and haggle free service.
                            View their testimonies here.
                            </p>
                     </div>  
                  </div></a>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-4">
                   <a href="{{pathFor route='trades'}}">
                  <div class="thumbnail">
                     
                        <img src="upgrade.png" alt="...">
                        <div class="caption">
                           <h3>Selling Your Car?</h3>
                           <p>Our vehecle appraisal proccess makes its quick and easy, then just come in and pick up your cash or Vehichle upgrade.
                           </p>
                     
                     </div>
                         
                  </div></a>
               </div>
            </div>
            <div class="clear"></div>
         </div>
      </div>
   </div>
   <div class="clear"></div>
</template>