<template name="slideshow">
<div class="max">
    <div id="slider_container">

        <!-- Slides Container -->
        

        <ul class="bxslider">
  <li><img src="charger.jpg" class="" width="1284px" title="FEATURED: 2013 DODGE CHARGER SE LOW MILES!!!!"/></li>
  <li><img src="camry.jpg" width="1284px"  title="FEATURED: 20012 TOYOTA CAMRY SE LOW MILES!!!!" /></li>
<li><img src="chrysler.jpg"  width="1284px"  title="FEATURED: 2013 CHRYSLER 300 LOW MILES!!!!" /></li>
</ul>
    
    
       
    <div class="clear"></div>
</div>
 {{> yield "links"}}
  </div> <div class="clear"></div>
</template>